  <!-- <div style="overflow-x:auto; margin: 5%;">
    <table>
      <tr>
        <th>n°</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Subject</th>
       
      </tr>
      <tr *ngFor="let msg of messages let i  = index;">
        <th>{{i}}</th>

        <td>{{msg.name}}</td>
        <td>{{msg.email}}</td>
        <td>{{msg.subject}}</td>
        
      </tr>
      
    </table>
  </div>
-->


<div class="row">
    <div class="column">
      <div class="card">
        <h3>Card 1</h3>
        <p>Some text</p>
        <p>Some text</p>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <h3>Card 2</h3>
        <p>Some text</p>
        <p>Some text</p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <h3>Card 3</h3>
        <p>Some text</p>
        <p>Some text</p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <h3>Card 4</h3>
        <p>Some text</p>
        <p>Some text</p>
      </div>
    </div>
  </div>