  <!-- <div style="overflow-x:auto; margin: 5%;">
    <table>
      <tr>
        <th>n°</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Subject</th>
       
      </tr>
      <tr *ngFor="let msg of messages let i  = index;">
        <th>{{i}}</th>

        <td>{{msg.name}}</td>
        <td>{{msg.email}}</td>
        <td>{{msg.subject}}</td>
        
      </tr>
      
    </table>
  </div>
-->


    <!-- <div class="column">
      <div class="card">
        <h3>{{message.name}}</h3>
        <p>{{message.email}}</p>
        <p>{{message.subject}}</p>
      </div>
    </div> -->


        <div class="card">
          <div class="face face1">
            <div class="content">
               <i class="fab fa-windows"></i>            
              <h3>Name :{{message.name}}</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p class="card_text">Email : {{message.email}}</p>
               <p>Message :{{message.subject}}</p>

              <!-- <a href="#" type="button">Read More</a> -->
            </div>
          </div>
       </div>